{{ define "main" }}
  <main id="main">
    <h2>
      <svg class="bookmark-icon" aria-hidden="true" viewBox="0 0 40 50" focusable="false">
        <use xlink:href="#bookmark"></use>
      </svg>
      {{ .Title }}
    </h2>

    <div class="informations">
     <div class="date">
       {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
       {{ $publishDate := .PublishDate }}
       <strong aria-hidden="true">Publish date: </strong>{{ $publishDate.Format $dateFormat }}
       {{ with .Lastmod }}
         {{ if gt . $publishDate }}
           <br>
           <strong aria-hidden="true">Last updated: </strong>{{ .Format $dateFormat }}
         {{ end }}
       {{ end }}
     </div>

<!--tagを流用したcategory-->
 {{ with .Params.categories }}
 <div class="tags">
   <strong aria-hidden="true">Categories: </strong>
   <ul aria-label="categories">
     {{ range . }}
       <li>
         <svg class="tag-icon" aria-hidden="true" viewBox="0 0 177.16535 177.16535" focusable="false">
           <use xlink:href="#tag"></use>
         </svg>
         {{ $href := print ("categories/" | absLangURL) (. | urlize) "/" }}
         <a href="{{ $href }}">{{ . }}</a>
       </li>
     {{ end }}
   </ul>
 </div>
 {{ end }}

 {{ with .Params.series }}
 <div class="tags">
   <strong aria-hidden="true">Series: </strong>
   <ul aria-label="series">
     {{ range . }}
       <li>
         <svg class="tag-icon" aria-hidden="true" viewBox="0 0 177.16535 177.16535" focusable="false">
           <use xlink:href="#tag"></use>
         </svg>
         {{ $href := print ("series/" | absLangURL) (. | urlize) "/" }}
         <a href="{{ $href }}">{{ . }}</a>
       </li>
     {{ end }}
   </ul>
 </div>
 {{ end }}

 {{ with .Params.brand }}
 <div class="tags">
   <strong aria-hidden="true">Brand: </strong>
   <ul aria-label="brand">
     {{ range . }}
       <li>
         <svg class="tag-icon" aria-hidden="true" viewBox="0 0 177.16535 177.16535" focusable="false">
           <use xlink:href="#tag"></use>
         </svg>
         {{ $href := print ("brand/" | absLangURL) (. | urlize) "/" }}
         <a href="{{ $href }}">{{ . }}</a>
       </li>
     {{ end }}
   </ul>
   </div>

 {{ end }}

     {{ with .Params.genre }}
    <div class="tags">
         <strong aria-hidden="true">Genre: </strong>
         <ul aria-label="genre">
           {{ range . }}
             <li> 
               <svg class="tag-icon" aria-hidden="true" viewBox="0 0 177.16535 177.16535" focusable="false">
                 <use xlink:href="#tag"></use>
               </svg>
               {{ $href := print ("genre/" | absLangURL) (. | urlize) "/" }}
              <a href="{{ $href }}">{{ . }}</a>
             </li>
           {{ end }}
         </ul>
       </div>
     {{ end }}
    </div>
    
     {{ if ne .Params.toc false }}
       {{ partial "toc" . }}
     {{ end }}

    {{ .Content }}
    
{{ if ne .Params.share false}}
<!--h3>Share</h3>-->
  <span class="share" style="font-size: 3rem; margin-top: 0;">
    <a href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&nbsp;%7C&nbsp;LLxyo's&nbsp;Daydreams" target="_blank" title="Tweet" class="fa-twitter-link"><i class="fab fa-twitter fa-fw" style="color:#fff;"></i></a>
  </span>
  <!-- <a href="https://mastoshare.net/post.php?text={{ .Permalink }}&text={{ .Title }}&nbsp;from&nbsp;LLxyo"  onclick="window.open(this.href, '', 'width=500,height=400'); return false;"><i class="fab fa-mastodon fa-fw"></i></a>
    -->


{{ end }}

  </main>
  {{ partial "related.html" . }}
  {{ partial "disqus.html" . }}
{{ end }}
