/* Fonts */
@font-face {
    font-family: 'Noto Serif JP', serif;
    src: url('{{ "css/fonts/miriamlibre-bold.woff2" | absURL }}') format('woff2'), url('{{ "css/fonts/miriamlibre-bold.woff" | absURL }}') format('woff');
    font-style: normal;
}
*,
*::before,
*::after {
    font-family: inherit;
    background-color: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: calc(0.8em + 0.33vw);
    font-family: Arial, 'Noto Sans JP', sans-serif;
    line-height: 1.5;
    color: #111;
    background-color: #fefefe;
}
template {
  display: none !important;
}
* + * {
    margin-top: 2.25rem;
}
br,
dt,
dd,
th,
td,
option,
[hidden] + *,
li + li,
body,
.main-and-footer {
    margin-top: 0;
}
p + p {
    margin-top: 0.75rem;
}
.priority {
  margin-top: 0;
}
a {
    text-decoration: none;/*アカウントなどのリンクに必要なので残す*/
    border-bottom: 1px solid;/*別の場所で邪魔な場合はhtmlタグやclassを指定して消す*/
}
abbr {
    text-decoration: none;
    cursor: help;
    border-bottom: 1px dashed;
}
img {
    max-width: 100%;
    max-height: 75vh;
}
.img-link {
    border-bottom: none;
}
p img {
    margin: 0.75rem 0;
}
figure p img {
    margin: 0;
}
:focus:not([tabindex="-1"]),
[data-expands]:focus svg,
.patterns a:focus .text,
[for="themer"] :focus + [aria-hidden] {
    outline: none;
}
a {
  outline-offset: 2px;
}

/* Katex math typesetting */
.katex * {
    margin-top: 0;
    background-color: transparent;
}

/* Fix for IE :( */
[tabindex="-1"]:focus,
div:not([tabindex]):focus {
    outline: none;
}
[hidden] {
  display: none;
}

/* Skip link */
[href="#main"] {
    display: block;
    width: 100%;
    padding: 0.75rem;
    color: #fefefe;
    background: #000;
    position: absolute;
    top: -3rem;
    text-align: center;
    z-index: 1;
}
[href="#main"]:focus {
    top: 0;
    outline: none;
}

/* Text styles */
p.library-desc{
    font-family: 'Noto Serif JP', serif;
    font-size: 0.9rem;
}
h1,
h2,
h3,
h4 {
    font-family: 'Noto Serif JP', serif;
    line-height: 1.125;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.66rem;
}
h3 {
    font-size: 1.25rem;
}
h4,
h5 {
    font-size: 1rem;
    font-family: PT Sans, sans-serif;
}
h5 {
    font-size: 0.85rem;
    text-transform: uppercase;
}
kbd {
    line-height: 1;
    font-size: 0.66rem;
    padding: 0.1rem 0.33rem;
    border-radius: 0.25rem;
    border: 2px solid;
    box-shadow: 0.125rem 0.125rem 0 #111;
    vertical-align: 0.33em;
}
pre,
.file-tree {
    overflow-x: auto;
    padding: 1.5rem;
    border: 1px solid;
}
code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.85em;
}
.cmd {
    padding: 0.75rem;
    background: #111;
}
.cmd code {
    color: #fefefe;
    white-space: nowrap;
}
.cmd code::before {
    content: '$';
    font-weight: bold;
    padding-right: 0.25em;
}

/* Lists */
@media screen and (min-width: 28rem){/*448px ~ */
    .eyecatch{
        width: 300px;
        height: 200px;
        object-fit: cover;
    }
  }
  @media screen and (max-width: 28rem){/* ~ 448px*/
    .eyecatch{
        width: 300px;
        height: 150px;
        object-fit: cover;
    }
  }
/*
main ul,
main ol {
    margin-left: 2.25rem;
}*/
main li + li {
    margin-top: 0.5rem;
}
main ul ul, main ol ol, main li ul, main li ol {
    margin-top: 0.5rem;
}
ol ol {
  list-style: lower-latin;
}
ol ol ol {
  list-style: lower-roman;
}
main dt {
    font-weight: bold;
}
main dd {
  padding-left: 2rem;
}
dd ul {
  margin-left: 0;
}
dd li + li {
  margin: 0;
}
@media screen and (min-width: 69rem){/*1105px ~*/
    .related{
        width: 21%;
    }
}
@media screen and (min-width: 53rem) and (max-width: 69rem){/*848px ~ 1105px*/
    .related{
        width:25%;
    }
}
@media screen and (min-width: 31rem) and (max-width: 53rem){/*496px ~ 848px*/
    .related{
        width:45%;
    }
}
@media screen and  (min-width: 24rem) and (max-width: 31rem){/*384px ~ 496px*/
    .related{
        width:45%;
    }
}
@media screen and  (max-width: 24rem){/* ~ 384px*/
    .related{
        width:100%;
    }
}
.related{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-top: 1%;
    box-sizing: content-box;
    border: 2px solid;
    border-color: #ddd;
    border-radius: 10px;
    padding: 1%;
}
@media screen and (min-width: 31rem){/* ~ 496px*/
    .eyecatch_related{
        width: 300px;
        height: 150px;
        object-fit: cover;
    }
}
@media screen and (min-width: 24rem) and (max-width: 31rem){/*384px ~ 496px*/
    .eyecatch_related{
        width: 300px;
        height: 100px;
        object-fit: cover;
    }
}
@media screen and (max-width: 24rem) and (max-width: 31rem){/*384px ~ */
    .eyecatch_related{
        width: 300px;
        height: 80px;
        object-fit: cover;
    }
}
/* Blockquotes */
blockquote {
  border-left: 0.5rem solid;
  padding-left: 0.75rem;
}
blockquote .author {
  font-size: 0.85rem;
}

/* Buttons */
button {
    font-size: 1.25rem;
    border-radius: 0.33em;
    font-family: inherit;
    background: #111;
    color: #fefefe;
    padding: 0.75rem;
    border: 0;
}
[data-launch] {
  font-size: 0.66rem !important;
  padding: 0.5rem !important;
  margin-top: 0 !important;
  border-radius: 0 !important;
  border-top-left-radius: 0.33rem !important;
  box-shadow: none !important;
  background: #111 !important;
  color: #fefefe !important;
  position: absolute !important;
  right: 0 !important;
  bottom: 0 !important;
}

/* Forms */
label {
  display: inline-block;
  font-weight: bold;
}
[for="themer"] {
  background: #111;
  border-radius: 0.33em;
  color: #fefefe;
  padding: 0.25em 0.75em;
  margin: 0.5rem;
}
[for="themer"] [aria-hidden]::before {
  content: 'off';
}
[for="themer"] :checked + [aria-hidden]::before {
  content: 'on';
}

/* Tables */
table {
    text-align: left;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
th,
td {
    border: 2px solid;
    padding: 0.5rem;
    line-height: 1.25;
    margin: 0;
}
th {
    font-weight: bold;
}
th:empty {
    border: 0;
}

/* Tested using... table */
.tested {
    text-align: center;
    border: 1px solid #111;
}
.tested tr {
    display: flex;
    flex-flow: row wrap;
}
.tested td, .tested th {
    vertical-align: middle;
    overflow: hidden;
    flex: 1 0 auto;
    border: 1px solid #111;
}
.tested th {
    width: 100%;
    background-color: #111;
    color: #fefefe;
    outline-color: #111;
}
.tested img {
    max-width: 3rem;
}
.tested span {
    display: block;
    margin: 0;
}
.tested .additional {
    font-size: 0.85rem;
}
caption {
    font-size: 1.125rem;
    padding-bottom: 0.25rem;
    font-style: italic;
}

/* Page structure */
.wrapper {
    position: relative;
    margin-top: 0;
    overflow-x: hidden;
}
.intro-and-nav {
    font-size: 0.8rem;
    width: 13rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid;
}
.intro-and-nav > div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.intro {
  flex: 0 0 auto;
  /*width: 10.74rem;*/
}
.patterns {
  flex: 1 1 auto;
}
.logo {
    border: 0;
}
.logo img {
    width: 100%;
    max-width: 12rem;
}
.library-desc {
    /*width: 10rem;*/
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
}
.main-and-footer {
    margin-left: 13rem;
}
.main-and-footer > div {
        max-width: 60rem;
        margin: 0 auto;
        padding: 5rem/*3rem*/;
}
/*
main p{
    max-width: 45rem;
    margin: 0 auto;
    margin-top: 0.75rem;
}
main h3{
    max-width: 45rem;
    margin: 0 auto;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}
main h3.post_title{
    margin-bottom: 0;
}
main h1{
    max-width: 45rem;
    margin: 0 auto;
}
main .informations{
    max-width: 45rem;
    margin: 0 auto;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}*/
.seealso, .related{
    max-width: 45rem;
}
[role="contentinfo"] {
    font-size: 0.85rem;
    margin-top: 4rem;
    text-align: center;
}

/* Patterns navigation */
.patterns {
    overflow: auto;
    margin-top: 1.5rem;
}
.patterns * {
    margin-top: 0;
}
.patterns h3 {
    font-size: 1rem;
}
.patterns h3 + ul {
    margin-top: 0.75rem;
}
.patterns li {
    line-height: 1.125;
    list-style: none;
}
.patterns li + li {
    margin-top: 0.75rem;
}
.patterns ul ul {
    margin-left: 0.75rem;
}
.pattern a {
    border: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    font-weight: bold;
    padding: 0 1rem;
    width: 10rem;
}
.pattern a:focus {
    outline: none;
}
.pattern span {
    margin-left: 0.125rem;
}

/* After */
.pattern [aria-current] {
  background-color: #111;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  color: #fefefe;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* Menu button */
#menu-button {
    display: none;
    width: 100%;
    text-align: center;
}
#menu-button:focus {
    outline: none;
    box-shadow: inset 0 0 0 0.25rem #999;
}

/* Tables of contents */
.toc {
    font-size: 0.85rem;
    border: 1px solid;
    padding: 1.5rem;
}
.toc h2 {
    font-size: 1rem;
}
.toc ol {
    margin-left: 0.75rem;
    margin-top: 0.5rem;
}

/* Disqus Comments */
#disqus-container {
  text-align: center;
}
#disqus-button {
  width: 100%;
  padding: 0.25em 0.75em;
}
#disqus-comments {
  display: none; 
}

/************Custmoizedカスタマイズド****/
ul.pagination{
    display: flex;
    flex-wrap: nowrap;
    width: 70%;/*画面サイズに合わせて変える*/
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 53rem){
    ul.pagination{
        width: 70%;
    }
}
@media screen and (max-width: 53rem){
    ul.pagination{
        width: 100%;
    }
}
@media screen and (max-width: 450px){
    .pagination__item--first,.pagination__item--last{
        display: none;
    }
}
li.pagination__item{
    width: 100%;
    margin: 1%;
    background-color: rgb(236, 236, 236);
    padding: 1.5%;
    border: 2px solid;
    border-color: rgb(236, 236, 236);
    border-radius: 3px;
}
li.pagination__item--current{/*現在のページ*/
    background-color: #FFF;
    border-color: rgb(92, 92, 92);
    border-radius: 3px;
}
a.pagination__link{
    display: block;
    border-bottom: none;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Noto Serif JP', serif;
}
.pagination__item--current a.pagination__link{/*現在のページ*/
    color: #3f7bd4;
}
.fa{
    font-family: 'Noto Nastaliq Urdu', serif;
}
.slidein1,.slidein2,.slidein3{/*装飾文字の文字サイズ*/
    font-size: 1.39rem;
}
.slidein1{
    text-align: left;
}
.slidein2{
    text-align: right;
}
/*装飾文字のスライドイン 画面幅ごとにスライド位置や速さを調整済み*/
/*トップページ*/
@media screen and (min-width: 69rem){/*1105px ~ */
    h2.slidein1{/*トップページ上部*/
        background-color: rgb(255,255,255,0);
        animation: anim1 2s forwards;
    }
    @keyframes anim1 {
        0% {
            transform: translate(35%, 45.5vh);
        }
        100% {
            transform: translate(0%, 0%);
        }
    }
    h2.slidein2{/*トップページ下部*/
      background-color: rgb(255,255,255,0);
      animation: anim2 2s forwards;
    }
    @keyframes anim2 {
        0% {
            transform: translate(-35%, -45.5vh);
        }
        100% {
            transform: translate(0%, 0%);
        }
    }
}
@media screen and (min-width: 45rem) and (max-width: 69rem){/*720px ~ 1105px*/
    h2.slidein1{
        background-color: rgb(255,255,255,0);
        animation: anim1 2.5s forwards;
    }
    @keyframes anim1 {
        0% {
            transform: translate(135%);
        }
        100% {
            transform: translate(0%);
        }
    }
    h2.slidein2{
      background-color: rgb(255,255,255,0);
      animation: anim2 2.5s forwards;
    }
    @keyframes anim2 {
        0% {
            transform: translate(-175%);
        }
        100% {
            transform: translate(0%);
        }
    }
} 
@media screen and (max-width: 45rem){/*720px*/
    h2.slidein1{
        background-color: rgb(255,255,255,0);
        animation: anim1 2s forwards;
    }
    @keyframes anim1 {
        0% {
            transform: translate(135%);
        }
        100% {
            transform: translate(0%);
        }
    }
    h2.slidein2{
      background-color: rgb(255,255,255,0);
      animation: anim2 2s forwards;
    }
    @keyframes anim2 {
        0% {
            transform: translate(-135%);
        }
        100% {
            transform: translate(0%);
        }
    }
} 
/*記事一覧の装飾文字のスライドイン*/
@media screen and (min-width: 69rem){/*1105px ~ */
    h2.slidein3{
        background-color: rgb(255,255,255,0);
        animation: anim3 2.5s forwards;
    }
    @keyframes anim3 {
        0% {
            transform: translate(135%);
        }
        100% {
            transform: translate(0%);
        }
    }
}
@media screen and (min-width: 45rem) and (max-width: 69rem){/*720px ~ 1105px*/
    h2.slidein3{
        background-color: rgb(255,255,255,0);
        animation: anim3 2.5s forwards;
    }
    @keyframes anim3 {
        0% {
            transform: translate(135%);
        }
        100% {
            transform: translate(0%);
        }
    }
}
@media screen and (max-width: 45rem){/*720px*/
    h2.slidein3{
        background-color: rgb(255,255,255,0);
        animation: anim3 2s forwards;
    }
    @keyframes anim3 {
        0% {
            transform: translate(135%);
        }
        100% {
            transform: translate(0%);
        }
    }
} 
/*冒頭の諸情報欄*/
.informations{
    box-sizing: content-box;
    border: #000 solid 2px;
    padding: 5px;
    width: 100%;
}
/* アフィリエイトリンクボタン */
.aficard .afiimage{
    border-bottom: 0px;
    font-size: 0.7rem;
}
@media screen and (min-width: 768px){
    .afi{
        width:50% !important;
        float: left;
        padding-right: 5%;
    }
}
@media screen and (max-width: 767px){   
    .aficard{
        width:50% !important;
        float: left;
        padding-right: 5%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 450px){
    .aficard{
        width:30% !important;
        float: left;
        padding-right: 5%;
        margin-bottom: 5%;
    }
    .clear{
        clear: both;
    }
}
@media screen and (min-width: 300px) and (max-width: 450px){
    .aficard{
        width:50% !important;
        float: left;
        padding-right: 5%;
        margin-bottom: 5%;
    }
    .clear{
        clear: both;
    }
}
@media screen and (max-width: 300px){

}
.clear{
    clear: both;
}
.button001 a {
    background: #eee;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    max-width: 150px;
    padding: 5px 10px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.button001 a:hover {
    background: #313131;
    color: #FFF;
}
.button001 a:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #313131;
    border-right: 3px solid #313131;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
.button001 a:hover:after {
    border-color: #FFF;
}

/*Youtube埋め込み*/
.video{
    width:100%;              /*横幅いっぱいにwidthを指定*/
    padding-bottom: 56.25%;  /*高さをpaddingで指定(16:9)*/
    height:0px;              /*高さはpaddingで指定するためheightは0に*/
    position: relative;
}
.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Pattern lists */
.description{
    font-size: 13px;
    padding-top: 10px;
}
.article{/*タイル並び*/
    display: flex;
    flex-flow: row wrap;
}
a .article_link{/*各記事サムネイルのurl下部線消去*/
    text-decoration: none !important;
}
.eyes{/*サムネイル画像*/
    text-align : center;
}
li {/*リストの点を削除*/
    list-style: none;
  }
  
  @media screen and (min-width: 69rem){/*1105px ~ */

  .post{/*タイル*/
    width: 28%;/*タイル並び 3列*/
    margin-top: 2rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    box-sizing: content-box;
    border: 2px solid;
    border-color: #ddd;
    border-radius: 10px;
    padding: 12px;
  }
}
@media screen and (min-width: 50rem) and (max-width: 69rem/*61.5rem*/){/*799px ~ 1105px*/
  .post{/*タイル*/
    width: 36.5%;/*タイル並び 2列*/
    margin-top: 2rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    box-sizing: content-box;
    border: 2px solid;
    border-color: #ddd;
    border-radius: 10px;
    padding: 12px;
  }
}
@media screen and (min-width: 28rem) and (max-width: 50rem){/* 448px ~ 799px*/
  .post{/*タイル*/
    margin-top: 2rem;/*タイル並び 1列*/
    margin-right: 1rem;
    margin-left: 1rem;
    box-sizing: content-box;
    border: 2px solid;
    border-color: #ddd;
    border-radius: 10px;
    padding: 12px;
  }
}
@media screen and (max-width: 28rem){/* ~ 448px*/
    .post{/*タイル*/
      margin-top: 2rem;
      margin-right: 1rem;
      margin-left: -3rem;
      margin-right: -3rem;
      box-sizing: content-box;
      border: 2px solid;
      border-color: #ddd;
      border-radius: 10px;
      padding: 12px;
    }
}
p.description,.post_title,div.article,div .eyes {/*[* + *]の不要部分のmargin解除*/
    margin-top: 0;
}
.patterns-list {
    column-count:1;/*2で縦列を2行化できる*/
    list-style: none;
    margin-left: 0;
}
.patterns-list-taxes {/*taxnomiesのレイアウト*/
    column-count:1;/*2で縦列を2行化できる*/
    list-style: none;
    margin-left: 0;
    border-bottom: 3px solid;
    padding-bottom: 3px;
}
.patterns-list-taxes a{/*taxnomiesのレイアウト、リンクの下線を消す*/
    border-bottom: 0;
}
.indent{
    padding-left: 3em;
    text-indent: -3.5em;
}
.patterns-list h2 {
    font-size: 1.25rem;
    line-height: 1.6;
}
/*デフォルトは、最初のliには線が引かれない
.patterns-list li + li {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 3px solid;
}*/
.patterns-list li {/*categories、縦並び、下の記事用と同じ*/
    margin-top: 1rem;
    padding-top: 1rem;
    border-bottom: 3px solid;
}
.patterns-list li.article {/*記事用、横には並べないが全てに下線*/
    margin-top: 1rem;
    padding-top: 0rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border-bottom: 3px solid;
    border-top: 0px;
}

.patterns-list li.tag-inline {/*横並びinline-block用、全てに線を下線として引く*/
    margin-top: 1rem;
    padding-top: 0rem;
    border-top: 0px;
    margin-top: 0px;
    border-bottom: 3px solid;
}
.patterns-list-customterm li + li {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 0px solid; /*タグの各項目の上線、邪魔なので消してある*/
}
.patterns-list a {
    border: 0;
}

/* Tags */
.tag-inline{
    display: inline-block;
    margin-right: 1rem;
}
.tags {
    margin-top: 0;
    font-size: 0.85rem;
}
.tags * {
    display: inline;
    margin: 0;
}
.tags strong {
    margin-right: 0.25rem;
}
.tags li {
    white-space: nowrap;
    margin: 0 0.25rem 0 0;
}

/* Date */
.date {
    margin-top: 0;
    font-size: 0.85rem;
}

/*share*/
.share a i{
    margin-top: 0;
    display: inline-block;
    border-radius: 40%;
    width: 5rem; /*円の大きさ*/
    height: 5rem; /*円の大きさ*/
    position: fixed !important; /*位置固定*/
    position: -webkit-fixed;
    transform: translate3d(0, 0, 0);
    display: flex;
    display: block;
    z-index: 1;
    bottom: 4rem; /*位置固定*/
    right: 7%; /*位置固定*/
    text-align: center; /*アイコンの中央寄せ*/
    line-height: 5rem; /*アイコンの中央寄せ*/
    background-color: #000;
    /*ダークテーマにすると位置固定が効かなくなる*/
    /*position: fixed;が効いてない*/
}

.share a{
    border: none; /*リンクの下線消すけど、なくても良い？*/
}

/* Notes and warnings */
.note {
    border-left: 0.5rem solid;
    font-size: 0.85rem;
}
.note .sign {
    height: 2.25rem;
    width: 2.25rem;
}
.note > div {
    margin-left: 0.75rem;
}
.note > div > img:first-child {
    height: 1.5rem;
}
.note > div >:first-child + * {
    margin-top: 0;
}
.note.warning {
    border-left: 0;
    background-image: url({{ "css/images/stripe.svg" | absURL }});
    background-size: 0.5rem auto;
    background-repeat: repeat-y;
}
.note.warning > div {
    margin-left: 1.25rem;
}

/* Tick lists */
.ticks li {
    list-style: none;
    position: relative;
}
.ticks li::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
    background-image: url({{ "css/images/icon-tick.svg" | absURL }});
    background-size: 100% auto;
    position: absolute;
    left: -1.25rem;
    top: 0.25rem;
}

/* Figures */
figure {
    text-align: center;
}
figcaption {
    font-size: 0.85rem;
    font-style: italic;
    margin-top: 0.5rem;
}
main {
    display: block;
    counter-reset: fig;
    min-height: 100vh;
}
figcaption::before {
    counter-increment: fig;
    content: 'Figure ' counter(fig) ':\0020';
    font-weight: bold;
}

/* Code blocks */
pre[class*=language-] {
    background: none;
    margin-top: 2.25rem;
    margin-bottom: 0;
    overflow-y: hidden;
    overflow-x: auto;
}
code[class*="language-"], pre[class*="language-"] {
  text-shadow: none;
  /* filter: grayscale(100%); */
}
pre[class*=language-][data-line] {
    padding: 1em 0 0 2.25rem;
}
pre[class*=language-] code * {
    margin-top: 0 !important;
}
[data-codeblock-shortcode], .code-annotated code {
    display: inline-block;
    margin-top: -1rem;
}
.code-annotated {
    overflow-y: hidden;
    overflow-x: auto;
    padding: 1.5rem;
    border: 1px solid;
    white-space: pre;
    counter-reset: annotation;
}
.highlight {
    background: #ddd;
    padding: 0.0625rem 0.33rem;
    border-radius: 0.5rem;
}
.numbered .highlight::after,
.code-annotated.numbered + ol li::before  {
    counter-increment: annotation;
    content: counter(annotation);
    font-weight: bold;
    font-size: 0.5rem;
    background: #111;
    color: #fefefe;
    border-radius: 1rem;
    margin-left: 0.25rem;
    padding: 0.125em 0.5em;
    vertical-align: 0.33em;
}
.code-annotated.numbered + ol {
    list-style: none;
    counter-reset: annotation;
}
.code-annotated.numbered + ol li::before {
    font-size: 0.66em;
    margin-right: 0.33em;
    vertical-align: 0.25em;
}

/* File tree lists */
.file-tree {
    overflow-x: auto;
}
.file-tree ul {
    font-family: Courier, monospace;
    margin: 0;
    padding: 0;
    padding-left: 3rem;
    list-style: none;
    line-height: 1.25;
    position: relative;
}
.file-tree > ul {
    padding-left: 0;
    overflow-x: auto;
    overflow-y: hidden;
}
.file-tree li {
    background: #fefefe;
    position: relative;
    white-space: nowrap;
}
.file-tree li + li {
    margin-top: 0;
}
.file-tree li:not(:last-child) > ul::before {
    content: '\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1em;
    white-space: normal;
}
.file-tree li::before {
    content: '\251C\2500\2500\0020';
}
.file-tree li:last-child::before {
    content: '\2514\2500\2500\0020';
}

/* Expandable sections */
.expandable-section {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 0.75rem 0;
}
[id^="js-expandable-"] {
    margin: 0;
    padding: 1.5rem 0 0.75rem;
}
@media screen {
    .expandable-section + .expandable-section {
        margin-top: 0;
        border-top: 0;
    }
}
[data-expands] {
    text-align: left;
    color: #111;
    border: 0;
    background: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
[data-expands] svg {
    margin-top: 0;
    width: 1em;
    height: 1em;
}
[data-expands][aria-expanded="true"] svg .up-strut {
    display: none;
}
[data-expands]:focus {
    outline: none;
}
p:empty {
    display: none;
}
*:not(p) + p:empty + p {
    margin-top: 2.25rem;
}

/* WCAG and principles */
.wcag li {
    font-size: 0.85em;
}
.principles p {
    font-size: 0.85rem;
    margin-top: 0.75rem;
}
.principles.with-desc > li + li,
.wcag.with-desc > li + li {
    border-top: 1px solid;
    margin-top: 0.75rem;
    padding-top: 0.75rem;
}

/* Site errors */
.site-error {
    padding: 1.5rem;
    background: #efefef;
}
.site-error strong {
    color: #C83737;
}

/* SVG icons */
a svg,
button svg,
h1 svg,
h2 svg,
th svg,
li > svg {
    height: 0.75em;
    width: 0.75em;
    margin-right: 0.25em;
}
h1 svg,
h2 svg {
  margin-right: 0;
  width: 0.85em;
  height: 0.85em;
}
.wcag-icon {
  width: 1.25em;
}
.bookmark-icon {
  vertical-align: middle;
}
.link-icon {
  width: 0.75em;
  height: 0.75em;
}
.tags svg, .link-icon {
  vertical-align: middle;
}
.balloon-icon {
  width: 0.75em;
  margin-right: 0;
}
.print {
    white-space: nowrap;
    font-style: normal;
}

/* Color palettes */
.colors {
    display: flex;
    height: 5rem;
    margin: -0.25rem;
    list-style: none;
    flex-wrap: nowrap;
}
.colors li {
    margin: 0.25rem;
    flex: 1 0 auto;
    position: relative;
}
.colors span {
    line-height: 1;
    background-color: #111;
    color: #fefefe;
    font-size: 0.75rem;
    padding: 0.25rem;
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
}

/* Cross references */
.pattern-link {
    font-weight: bold;
}

/* Inline demos */
.demo-inner {
  -top: 1px solid;
  -bottom: 1px solid;
  padding: 1.5rem 0;
  position: relative;
}
[id^="js-demo-"] {
    all: initial;
    display: block;
}

/* Section links */
.h2-container {
    position: relative;
    font-size: 1.66rem;
}
.h2-container a {
    position: absolute;
    margin-top: 0;
    top: 0;
    line-height: 1;
    left: -1em;
    border-bottom: 0;
}

/* Single page layout */
.wrapper.print-version .main-and-footer {
    margin-left: 0;
}
.wrapper.print-version .intro-and-nav {
    position: static;
    border: 0;
    width: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper.print-version main {
    min-height: 0;
}
.wrapper.print-version .library-desc {
    font-size: 1rem;
}
.wrapper.print-version .intro-and-nav > div {
    height: auto;
}
.wrapper.print-version #patterns-list {
    margin-left: 0;
    margin-top: 1.5rem;
    display: block;
}
.wrapper.print-version .toc {
    font-size: 1rem;
}
.wrapper.print-version .toc h2 {
    font-size: 1.66rem;
}
.wrapper.print-version #patterns-list h3 {
    font-size: 1.25rem;
}
.wrapper.print-version .patterns {
  margin-top: 0;
}
.pattern-section:not(:last-child) {
    padding-bottom: 2.25rem;
    -bottom: 2px solid;
}
.pattern-section h1 {
    padding: 0 !important;
}

/* Custom 404 */
.custom-404 {
  text-align: center;
}
.custom-404 * {
  margin: 0;
}
.custom-404 svg {
  max-width: 100%;
}

/* Utilities */
.vh {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.gallery {
  display: flex;
  justify-content: center;
}

/* Media queries */
@media screen and (max-width: 45em) {
    body a {
      hyphens: auto;
    }
    [role="banner"] {
        position: static;
        width: auto;
        height: auto;
    }
    .intro {
        text-align: center;
    }
    .intro-and-nav {
        -right: none;
    }
    .intro-and-nav > div {
        padding: 1.5rem;
    }
    .main-and-footer {
        margin: 0;
    }
    main {
      min-height: auto;
    }
    #patterns-list {
      margin-top: 0.5rem;
      border: 1px solid;
    }
    .patterns h3 {
        font-size: 1.5rem;
        padding: 1.5rem 1rem 0.75rem;
    }
    .patterns li:not(.pattern) {
        margin-top: 0;
    }
    .patterns ul ul {
        margin: 0;
    }
    .patterns li {
        margin-top: 0;
    }
    .pattern {
        font-size: 1rem;
    }
    .pattern a {
        padding: 1rem;
    }
    .pattern [aria-current] {
        clip-path: none;
        padding: 1rem;
    }
    .pattern + .pattern {
        border-top: 1px solid;
        margin-top: 0;
    }
    #menu-button {
        display: block;
    }
    #patterns-list {
        display: none;
    }
    .toc-link {
      display: none;
    }
    [aria-expanded="true"] + #patterns-list {
        display: block;
    }
    code {
      word-break: break-all;
    }
}
@media print {
    .wrapper:not(.print-version) .intro-and-nav,
    .wrapper:not(.print-version) [role="contentinfo"] {
        display: none;
    }
    .main-and-footer {
        margin-left: 0;
    }
    a {
        border: 0;
    }
    main a::after {
        content: " (" attr(href) ")";
        word-break: break-word;
    }
    main nav a::after {
        content: '';
    }
    .cmd code {
        background: #fefefe;
        color: #111;
    }
    pre code {
        white-space: pre-wrap !important;
    }
    .expandable-section {
        border: 0;
        padding: 0;
    }
    .expandable-section + p {
        margin-top: 0.75rem;
    }
    [id^="js-expandable-"] {
        display: block;
    }
    [data-expands] svg {
        display: none;
    }
    main *:not(.with-desc) {
        page-break-inside: avoid;
    }
    .note.warning {
        border-left: 0.5rem solid;
        background: none;
    }
}
@media (-ms-high-contrast: active) {
  img[src*=".svg"] {
    background: #fefefe;
    padding: 0.5rem;
  }
  .ticks li::before {
    content: '✓';
    background: none;
    width: auto;
    top: 0;
  }
  .note.warning {
      border-left: 0.5rem solid;
      background: none;
  }
}

::-moz-selection { /* Code for Firefox */
    background: rgba(0,0,0,.8);
    color: #fefefe;
}
  
::selection {
  background: rgba(0,0,0,.8);
  color: #fefefe;
}